#user-container {
    margin-bottom: 15px;
}
span {
    font-weight: bold;
}

#user-contacts,
#user-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
