.post-container {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}

.comment-user-name,
.post-title {
    font-weight: bold;
}

.post-body {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 15px;
}

.comment-container {
    font-size: 14px;
}

.body-comment {
    margin-bottom: 15px;
}
